<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Nuevo Apartamento</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
    <main class="container">
        <h1>Añadir Nuevo Apartamento</h1>
        <form action="/admin/apartment/<%= editMode? apartment._id + "/edit" : "" %>" method="post">
            <label for="title">Título</label>
            <input type="text" name="title" id="title" required maxlength="40" value="<%= apartment.title %>">
            <label for="price">Precio por noche (€)</label>
            <input type="number" name="price" id="price" value="<%= apartment.price %>">
            <label for="size">Superficie m²</label> 
            <input type="number" name="size" id="size" value="<%= apartment.squareMeters %>" required>
            <!-- TODO: Valudaciones de los campos -->
             <label for="mainPhoto">Foto principal</label>
             <input type="url" name="mainPhoto" id="mainPhoto" value="<%= apartment.mainPhoto %>">
             <input type="submit" value="<%= editMode? "Acutalizar": "Añadir" %>">
        </form>
    </main>
</body>

</html>