<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del apartamento</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">

</head>
<body>
    <main class="container" >
        <section>
            <header><%= apartment.title %></header>
            <article><img src="<%= apartment.mainPhoto %>" alt=""></article>
            <footer><%= apartment.price %> € | <%= apartment.squareMeters %> m<sup>2</sup> </footer>
            <a href="/admin/apartment/<%= apartment._id %>/edit">Editar</a>
        </section>
        <section>
            <h2>Reservar Apartamento</h2>
             <form action="/apartment/reservation/new" method="post">
                        <input type="hidden" name="idApartment" value="<%= apartment._id %>">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" required>
                        <label for="startDate">Fecha de inicio </label>
                        <input type="date" name="startDate" id="startDate">
                        <label for="endDate">Fecha de fin</label>
                        <input type="date" name="endDate" id="endDate">
                        <input type="submit" value="Reservar">
                    </form>
        </section>
    </main>
</body>
</html>