<!DOCTYPE html>
<html lang="es">
<head>
    <title> Detalle del apartamento</title>
    <%- include('./partials/head.ejs') %>

</head>
<body>
     <header class="container-fluid">
    <%- include('./partials/header.ejs') %>
  </header>
 
    <main class="container" >
        <section>
            <header><%= apartment.title %></header>
            <article><img src="<%= apartment.mainPhoto %>" alt=""></article>
            <footer><%= apartment.price %> € | <%= apartment.squareMeters %> m<sup>2</sup> </footer>
        </section>
        <section>
          <div class="container">
            <% if (isAuthenticated) { %>
                <a href="/admin/apartment/<%= apartment._id %>/edit/">Editar apartamento</a>
                <% } else { %>
                    <h2>Datos de la reserva</h2>
                    <form action="/apartment/reservation/new" method="post">
                        <input type="hidden" name="idApartment" value="<%= apartment._id %>">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" required>
                        <label for="startDate">Fecha de inicio </label>
                        <input type="date" name="startDate" id="startDate">
                        <label for="endDate">Fecha de fin</label>
                        <input type="date" name="endDate" id="endDate">
                        <input type="submit" value="Reservar">
                    </form>
                    <% } %>
        </section>
    </main>
</body>
</html>