<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brava Book 🦜</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">

</head>

<body>
    <main class="container" style="width: 50%;">
        <h1>Reserva ya tu apartamento en Brava Book</h1>
        <form action="/search" method="get">
            <label for="maxPrice">Precio máximo por noche</label>
            <input type="number" name="maxPrice" id="maxPrice" value="<%= filters.maxPrice %>" required>
            <input type="submit" value="Buscar">
        </form>
        <section>
            <% allApartments.forEach(function(apt) { %>
                
                <a href="/apartment/<%= apt._id %>">
                    <article>
                        <header><%= apt.title  %></header>
                        <img src="<%= apt.mainPhoto %>" alt="<%= apt.title %>">
                        <footer><%= apt.price %> €</footer>
                    </article>
                </a>
            <% }); %>

        </section>
    </main>
</body>

</html>